
body {
	background: #efeee7;
	font-family: "Georgia", "Times New Roman", Times, serif;
	color: #333333;
	margin: 0;
	padding: 0;
}


header { background: #333333; }

h1 {
	color: #eee;
	font-size: 28px;
	margin: 0;
	padding: 10px;
	text-align: center;
}

h2 {
	font-size: 24px;
	padding-left: 20px;
}

.container {
	margin: 0 auto;
}

#bio-image {
	width: 200px;
	padding: 0px 10px 0px 20px;
}

#main-bio {
	width: 70%;
}

#contact-info {
	width: 30%;
	line-height: 150%;
}

#main-bio, #contact-info, #bio-image {
	float: left;
	margin: 0;
}

a {
	color: #d21034;
}